# Ignore directories with condor jobs outputs
analyzer_HiggsMuMu/
hadd/
ctuples/
# Job sender is updated everytime submit_jobs is run
condor_*sender*.sh
# Ignore files created by condor job management
docker_stderror
